/* Top Navbar styling */
.navbar-top {
  margin: 20px;
  display: inline;
}

.navbar-top > ul {
  list-style-type: none;
  margin: 0 20px 0 0;
  padding: 0;
}

.navbar-top > ul > li {
  float: right;
  margin: 10px;
}

li a {
  color: #000;
  text-decoration: none;
}

li a:hover {
  color: gray;
  text-decoration: underline;
}

.active {
  background-color: royalblue;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
}

.active:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}


/* Logo */
.logo {
  display: block;
  text-align: center;
  margin: 150px auto 25px;
}


/* Bottom Navbar */
footer {
  display: block;
  background-color: #d3d3d3;
  height: 75px;
  margin-left: 0;
  margin-right: 0;
  color: #636363;
  margin-top: 30.2rem;
}

.navbar-bottom {
  margin: 20px;
  display: inline;
}

.navbar-bottom > ul {
  list-style-type: none;
  margin: 0 20px;
  padding: 7.5px;
}

.bottom-left > li {
  float: left;
  margin: 10px;
}

.bottom-right > li {
  float: right;
  margin: 10px;
}