body {
  font-size: 1.1rem;
}

/* Top Navbar styling */
.navbar-top {
  margin: 20px;
  display: inline;
}

.navbar-top > ul {
  list-style-type: none;
  margin: 0 20px 0 0;
  padding: 0;
}

.navbar-top > ul > li {
  float: right;
  margin: 10px;
}

li a {
  color: #000;
  text-decoration: none;
}

li a:hover {
  color: gray;
  text-decoration: underline;
}

.active {
  background-color: royalblue;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
}

.active:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/* Logo */
.logo {
  display: block;
  text-align: center;
  margin: 150px auto 25px;
}

/* Search bar */
.search-bar  {
  display: block;
  text-align: center;
}

input {
  display: block;
  position: relative;
  margin: 30px auto;
  width: 500px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
}

button {
  margin: 0 5px;
  border: none;
  background-color: none;
  background-color: #e0e0e0;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  color: #636363;
}

button:hover {
  color: #000;
  cursor: pointer;
}

/* Language Selector */
.lang {
  text-align: center;
  margin-top: 50px;
}

.lang > p > a {
  text-decoration: none;
  color: mediumblue;
}


/* Bottom Navbar */
footer {
  display: block;
  background-color: #e6e6e6;
  height: 75px;
  margin-left: 0;
  margin-right: 0;
  color: #dbdbdb;
  margin-top: 21.9rem;
}

.navbar-bottom {
  margin: 20px;
  display: inline;
}

.navbar-bottom > ul {
  list-style-type: none;
  margin: 0 20px;
  padding: 7.5px;
}

.bottom-left > li {
  float: left;
  margin: 10px;
}

.bottom-right > li {
  float: right;
  margin: 10px;
}